<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="comment">

    <div class="container my-1 ms-0">
        <label style="font-size: 0.8em">댓글 : <span th:id="${'cmt_cnt' + feed.feedId}"></span>개 <span sec:authorize="isAnonymous()" class="text-info">(댓글 입력은 회원만 가능)</span></label>
        <div class="mt-2">
            <div th:id="${'commentBody' + feed.feedId}">

            </div>
        </div>
    </div>

</th:block>

</html>