<!--최종작성본-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Certification Calendar</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 가져온 template의 css-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--sidebar + chatbot + 동작 시키는 js-->
    <script th:src="@{/js/sidebar.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">
    <link th:href="@{/css/chatbot/floatingactionbutton.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/chatbot/chatGPT.css}">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/@fullcalendar/core@5/main.min.css' rel='stylesheet' />
    <script src='https://unpkg.com/@fullcalendar/core@5/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/daygrid@5/main.min.js'></script>
    <script src='https://unpkg.com/@fullcalendar/interaction@5/main.min.js'></script>


    <style>
        /* 모달창 기본 스타일 */
        .modal {
            display: none;
            position: fixed;
            z-index: 1000000;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%; /* 기본 너비 */
            max-width: 700px; /* 최대 너비 */
            height: 80%; /* 기본 높이 */
            max-height: 500px; /* 최대 높이 */
        }

        /* 모달창 내용 스타일 */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* 모달창 닫기 버튼 스타일 */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            text-align: right;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        /* 미디어 쿼리 - 반응형 */
        @media screen and (max-width: 768px) {
            .modal {
                width: 90%;
                max-width: none;
                height: 80%;
                max-height: none;
            }
        }
    </style>

    <script th:inline="javascript">
        var arr = [
            /*[# th:each="item : ${list}"]*/
            /*[[${item}]]*/,
            /*[/]*/
        ];
        console.log(arr);

        var events = [];

        arr.forEach((e) => { //(1. 필기시험 접수 일정 -> 2. 필기시험 일정 -> 3. 필기시험 합격자 발표 -> 4. 실기시험 접수 -> 5. 실기시험 일정 -> 6. 합격자발표)
            var eventColor = '';
            if (e.jmfldnm === '정보처리기사') {
                eventColor = '#c8cdd5';
            } else if (e.jmfldnm === '정보처리산업기사') {
                eventColor = '#e5e1c3';
            } else if (e.jmfldnm === '정보처리기능사') {
                eventColor = '#BAD6EB';
            } else if (e.jmfldnm === '컴퓨터시스템응용기술사') {
                eventColor = '#7096D1';
            } else if (e.jmfldnm === '정보관리기술사') {
                eventColor = '#334EAC';
            } else if (e.jmfldnm === '전자산업기사') {
                eventColor = '#081F5C';
            } else {
                eventColor = '#FFF9F0'
            }

            var element = { // 객체 생성
                title: e.implplannm + "[" + e.jmfldnm + "]", // 제목
                categorise: "필기 원서 접수",
                start: e.docregstartdt,   //객체 시작점
                end: e.docregenddt,
                fee: e.fee,
                color: eventColor
            };
            events.push(element)

            var element2 = {
                title: e.implplannm + "[" + e.jmfldnm + "]", // 제목
                categorise: "필기",
                start: e.docexamstartdt,   //객체 시작점
                end: e.docexamenddt,
                fee: e.fee,
                color: eventColor
            };
            events.push(element2);

            var element3 = { // 객체 생성
                title: e.implplannm + "[" + e.jmfldnm + "]",   // 제목
                categorise: "필기 결과",
                start: e.docpassdt,   //객체 시작점
                fee: e.fee,
                color: eventColor
            };
            events.push(element3);

            var element4 = {    // 객체 생성
                title: e.implplannm + "[" + e.jmfldnm + "]",   // 제목
                categorise: "실기 원서 접수",
                start: e.pracregstartdt,   //객체 시작점
                end: e.pracregenddt,
                fee: e.fee,
                color: eventColor
            };
            events.push(element4);

            var element5 = {    // 객체 생성
                title: e.implplannm + "[" + e.jmfldnm + "]",   // 제목
                categorise: "실기",
                start: e.pracexamstartdt,   //객체 시작점
                end: e.pracexamenddt,
                fee: e.fee,
                color: eventColor
            };
            events.push(element5);

            var element6 = {    // 객체 생성
                title : e.implplannm + "[" + e.jmfldnm + "]",  // 제목
                categorise: "실기 결과",
                start : e.pracpassstartdt,   //객체 시작점
                end : e.pracpassenddt,
                fee: e.fee,
                color: eventColor
            };
            events.push(element6);

        });

    </script>

    <style>
        /* 테이블 스타일 설정 */
        table {
            width: 20%; /* 테이블을 3분의 1 크기로 설정 */
            height: 400px;
            /*outline: 2px solid black;*/
            float: right; /* 오른쪽에 플로팅 */
            margin-left: 1%; /* 캘린더와의 간격 조정 */
            text-align: center;
        }

        #calendar {
            width: 75%; /* 캘린더 영역 크기 조정 */
            /*outline: 2px solid tomato;*/
            float: left; /* 왼쪽에 플로팅 */
        }

        /* Add this to your existing CSS or a separate CSS file */
        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px; /* Adjust the margin as needed */
        }

        .search-container label,
        .search-container input,
        .search-container button {
            margin-right: 10px; /* Adjust spacing between elements */
        }

    </style>
</head>

<body class="sb-nav-fixed">
<th:block th:insert="~{common/menubar::menubar}"></th:block>
<div id="layoutSidenav">
    <th:block th:insert="~{common/sidebar::sidebar}"></th:block>

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4" style="text-align: center">Certification Calendar</h1>
            </div>
            <div class="search-container">
                <input class="form-control w-50" type="text" id="eventSearch">
                <button onclick="searchAndNavigate()"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>

            <div class="info_box d-flex justify-content-center" >
                <div id='calendar'></div>
                <!-- 모달창 구조 -->
                <div id="eventModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p id="modalText"></p>
                    </div>
                </div>

                <table>
                    <tr class="table-light" style="border-bottom: 2px solid lightgray">
                        <th scope="row">No</th>
                        <td>시험명</td>
                    </tr>

                    <tr class="table-light" >
                        <th scope="row">1</th>
                        <td>정보처리기사</td>
                    </tr>

                    <tr class="table-light" >
                        <th scope="row">2</th>
                        <td>정보처리산업기사</td>
                    </tr>

                    <tr class="table-light" >
                        <th scope="row">3</th>
                        <td>정보처리기능사</td>
                    </tr>

                    <tr class="table-light" >
                        <th scope="row">4</th>
                        <td>컴퓨터시스템응용기술사</td>
                    </tr>

                    <tr class="table-light" >
                        <th scope="row">5</th>
                        <td>정보관리기술사</td>
                    </tr>

                    <tr class="table-light" >
                        <th scope="row">6</th>
                        <td>전자산업기사</td>
                    </tr>

                </table>
            </div>
        </main>

        <h1 id="booktext" class="text-center text-success visually-hidden">Related Books Your Search Keyword!</h1><br>
        <div id="booksinfo" class="row row-cols-1 row-cols-md-2 w-100 m-lg-5 d-flex justify-content-center">

        </div>

        <th:block th:insert="~{common/chatbot::chatbot}"></th:block>
        <th:block th:insert="~{common/footer::footer}"></th:block>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var modal = document.getElementById("eventModal");
        var span = document.getElementsByClassName("close")[0];
        var modalText = document.getElementById("modalText");

        var calendar = new FullCalendar.Calendar(calendarEl, {
            eventClick: function (info) {
                var eventObj = info.event;
                var content = eventObj.title + '<br>구분 : ' + eventObj.extendedProps.categorise + '<br>' +
                    '상세 날짜: ' + eventObj.start.getFullYear() + '년 ' + (eventObj.start.getMonth() + 1) + '월 ' +
                    eventObj.start.getDate() + '일' +
                    (eventObj.end ? (' ~ ' + eventObj.end.getFullYear() + '년 ' + (eventObj.end.getMonth() + 1) + '월 ' + eventObj.end.getDate() + '일') : '') +
                    '<br>응시료: [' + eventObj.extendedProps.fee + '] (1차: 필기 / 2차: 실기)';

                modalText.innerHTML = content;
                modal.style.display = "block";
            },
            initialView: 'dayGridMonth',
            contentHeight: 750,
            editable: false,
            dayMaxEvents: true,
            events: events
        });

        // 모달창 닫기 이벤트 처리
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        calendar.render();
    });

    function searchAndNavigate() {
        // 검색어 가져오기
        var searchQuery = $('#eventSearch').val();
        console.log(searchQuery);
        // 검색어와 일치하는 이벤트 찾기
        var event = calendar.getEvents().find(function (event) {
            return event.title.includes(searchQuery);
        });

        // 이벤트가 있으면 해당 날짜로 캘린더 이동
        if (event) {
            calendar.gotoDate(event.start);
        } else {
            alert('일치하는 이벤트가 없습니다.');
        }
        $('#booktext').removeClass('visually-hidden');
        $('#booksinfo').html('');
        $.ajax({
            url: "/naver/book",
            type: "GET",
            data: {
                keyword: searchQuery.trim()
            },
            success: function(response) {
                // Assuming response is an array of Book objects
                if (response && response.length > 0) {
                    var booksInfo = $('#booksinfo'); // Select the div where you want to display book info

                    response.forEach(function(book) {
                        // Create HTML elements to display book information
                        var bookDiv = `
                        <div class="card mb-3">
                            <h3 class="card-header">${book.title}</h3>
                            <div class="card-body">
                                <h5 class="card-title">${book.author}</h5>
                                <h6 class="card-subtitle text-muted">${book.publisher}</h6>
                            </div>
                            <img src="${book.image}" alt="no image">
                            <div class="card-body">
                                <p class="card-text">${book.description}</p>
                            </div>
                            <div class="card-body">
                                <a href="${book.link}" class="card-link text-success" target="_blank">To Naver Shopping Link</a>
                            </div>
                            <div class="card-footer text-muted">
                                PUBLISHED DATE : ${book.pubdate}
                                <p class="float-end">PRICE : ₩${book.discount}</p>
                            </div>
                        </div>
                        `;

                        // Append elements to the bookDiv


                        // Append the bookDiv to the booksinfo div
                        booksInfo.append(bookDiv);
                    });
                } else {
                    // Handle case where no books are found
                    $('#booksinfo').html('No books found.');
                }
            },
            error: function(xhr, status, error) {
                // Handle error case
                console.error(status + ": " + error);
            }
        });
    }



</script>
</body>


</html>