<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>UNDEFINED LOGIN</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 가져온 template의 css-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--sidebar 동작 시키는 js-->
    <script th:src="@{/js/sidebar.js}"></script>
    <!-- loginpage에서 사용되는 js-->
    <script th:src="@{/js/login.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">
</head>

<body class="sb-nav-fixed">
<th:block th:insert="~{common/menubar::menubar}"></th:block>

<div id="layoutSidenav">
    <th:block th:insert="~{common/sidebar::sidebar}"></th:block>

    <div id="layoutSidenav_content">

    <div style="height: 10%;"></div>
    <!-- 로그인 터미널 부분-->

    <div>
        <a id="Kakao" class="visually-hidden" th:href="@{https://kauth.kakao.com/oauth/authorize(response_type=${'code'}, client_id=${@environment.getProperty('app.oauth2.kakao.client-id')}, redirect_uri=${@environment.getProperty('app.oauth2.kakao.redirect-uri')})}">
        </a>
        <div class="loginHeader text-center mb-3">
            <div id="welcome" style="display: inline-block; font-size: 2em">

            </div>
        </div>
        <div class="loginBody d-flex justify-content-center">
            <div class="card border-primary mb-3 col-10 cardBody" style="max-width: 576px; height: 500px;">
                <div class="card-header"><i class="fa-solid fa-terminal"></i>&nbsp;Longin Terminal</div>
                <div class="card-body">
                    <p class="card-text mb-0">Undefined Website [Version 1.0.0]</p>
                    <p class="card-text">&copy; Undefined. All rights reserved.</p>

                    <p class="card-text mb-0" id="commandRoot">
                        C:&#8361;Undefined&#8361;Login&#8361;Select&#8361;Options > </p>
                    <div class="selectLoginOption">
                        <p class="card-text mb-0" id="loginText0"></p>
                        <p class="card-text mb-0" id="loginText1"></p>
                        <p class="card-text mb-0" id="loginText2"></p>
                        <p class="card-text mb-0" id="loginText3"></p>
                        <p class="card-text mb-0" id="loginText4"></p>
                        <p class="card-text" id="loginText5"></p>

                        <p class="card-text mb-0" id="loginText6" style="display: inline-block;"></p>
                        <input type="text" class="hidden" name="loginOption" id="loginOption"
                               style="border-width: 0; outline: none;"> <br>
                        <p class="card-text text-success" id="oAuthOption"></p>
                        <p class="card-text text-danger" id="wrongOption"></p>
                    </div>

                    <div class="userInput visually-hidden">
                        <form name="login" th:action="@{/user/login}" method="post">
                            <p class="card-text mb-0 text-info" id="selectComment">If you want to go back(option
                                page), Click 'ESC' or 'Ctl+C'</p>
                            <p class="card-text mb-0" id="userText0" style="display: inline-block;"></p>
                            <input type="text" class="hidden" name="username" id="username"
                                   style="border-width: 0; outline: none;"> <br>
                            <p class="card-text mb-0" id="userText1" style="display: inline-block;"></p>
                            <input type="password" class="hidden" name="password" id="password"
                                   style="border-width: 0; outline: none;"> <br>
                            <p class="card-text mb-0 text-success" id="successText"></p>
                            <p class="card-text mb-0 text-danger" id="failText"></p>
                        </form>
                    </div>



                    <div class="register visually-hidden">
                        <form name="register" th:action="@{/user/register}" method="post">
                            <p class="card-text mb-0 text-info" id="selectComment1">If you want to go
                                back(option
                                page), Click 'ESC' or 'Ctl+C'</p>
                            <p class="card-text mb-0" id="registerText0" style="display: inline-block;"></p>
                            <input type="text" class="hidden" name="username"
                                   style="border-width: 0; outline: none;"> <br>
                            <p class="card-text mb-0 text-danger visually-hidden" id="duplicateId"></p>
                            <p class="card-text mb-0 text-success visually-hidden" id="availableId"></p>

                            <p class="card-text mb-0" id="registerText01" style="display: inline-block;"></p>
                            <input type="text" class="hidden" name="name" id="name" th:value="${name}"
                                   style="border-width: 0; outline: none;" > <br>
                            <p class="card-text mb-0 text-danger visually-hidden" id="duplicateName"></p>
                            <p class="card-text mb-0 text-success visually-hidden" id="availableName"></p>

                            <p class="card-text mb-0" id="registerText1" style="display: inline-block;"></p>
                            <input type="password" class="hidden" name="password"
                                   style="border-width: 0; outline: none;"> <br>
                            <p class="card-text mb-0" id="registerText2" style="display: inline-block;"></p>
                            <input type="password" class="hidden" name="re_password" id="re_password"
                                   style="border-width: 0; outline: none;"> <br>
                            <p class="card-text mb-0 text-danger visually-hidden" id="notMatchPw">Password is not matched.</p>
                            <p class="card-text mb-0 text-success visually-hidden" id="matchPw">Password is matched.</p>
                            <br>
                            <p class="card-text mb-0" style="display: inline-block" id="registerText3"></p>
                            <input type="email" class = "hidden" name="email" id="email" style="width:200px; border-width: 0; outline: none;" value="">


                        </form>
                        <p class="card-text mb-0" style="display: inline-block" id="registerText4"></p>
                        <input type="password" class = "hidden" name="verify" id="verify" style="border-width: 0; outline: none;">
                        <p class="card-text mb-0 text-danger visually-hidden" id="notMatchCode">Code is not matched.</p>
                        <p class="card-text mb-0 text-success visually-hidden" id="matchCode">Code Verified! Press Enter to REGISTER!</p>
                    </div>

                    <div th:if ="${info}"
                         class="Kakao visually-hidden">
                        <form name="Kakao" th:action="@{/oauth2/register}" >
                            <input type="text" class="form-control visually-hidden" name="username" placeholder="사용자아이디" th:value="${info.username}">
                            <input type="text" class="form-control visually-hidden" name="name" placeholder="사용자 이름" th:value="${info.name}">
                            <input type="password" class="form-control visually-hidden" name="password" placeholder="비밀번호" th:value="${info.password}">
                            <p class="card-text mb-0" style="display: inline-block" id="registerText5"></p>
                            <input type="text" class="visually-hidden" name="email" style="width:200px; border-width: 0; outline: none;" th:value="${info.email}">
                            <input type="text" class="visually-hidden" id="provider" name="provider" th:value="${info.provider}">
                            <input type="text" class="visually-hidden" id="providerId" name="providerId" th:value="${info.providerId}">
                        </form>
                        <p class="card-text mb-0" style="display: inline-block" id="registerText6"></p>
                        <input type="password" class = "visually-hidden" name="verify" style="border-width: 0; outline: none;">
                        <p class="card-text mb-0 text-danger visually-hidden" id="notMatchKakao">Code is not matched.</p>
                        <p class="card-text mb-0 text-success visually-hidden" id="matchKakao">Code Verified! Press Enter to see Login Option!</p>
                        <p class="card-text mb-0 text-success" id="KakaoNotice"></p>
                    </div>


                </div>
            </div>
        </div>
    </div>


        <th:block th:insert="~{common/footer}"></th:block>

    </div>

</div>
</body>

</html>