<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block sec:authorize="isAnonymous()">
    <script>
        alert("로그인 후 이용가능한 서비스입니다.")
        location.href = '/';
    </script>
</th:block>

<th:block sec:authorize="isAuthenticated()" th:with="user=${#authentication.getPrincipal().getUser()}">
    <head>
        <meta charset="UTF-8">
        <title>MYPAGE</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- 가져온 template의 css-->
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
        <!--sidebar + chatbot + 동작 시키는 js-->
        <script th:src="@{/js/sidebar.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">
        <link th:href="@{/css/chatbot/floatingactionbutton.css}" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/chatbot/chatGPT.css}">

    </head>
    <body class="sb-nav-fixed">
    <th:block th:insert="~{common/menubar::menubar}"></th:block>

    <div id="layoutSidenav">
        <th:block th:insert="~{common/sidebar::sidebar}"></th:block>
        <!--오른쪽 메뉴바가 아닌 부분에 대한 내용-->
        <div id="layoutSidenav_content">


            <!--개인정보 변경 부분-->
            <div class="d-flex justify-content-center mt-4 userinfo" th:data-username="${user.username}" th:data-name="${user.name}" th:data-email="${user.email}">
                <div class="card border-primary mb-3 col-10" style="max-width: 600px">
                    <div class="card-header">
                        <p class="text-center display-4">INFO</p>
                        <button type="button" id="btnForEdit" class="btn btn-danger" style="float: right;">EDIT</button>
                    </div>
                    <div class="card-body">
                        <form name="sanggon" action="/user/updateInfo" method="post">
                            <div class="mb-3 form-floating">
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="username" autocomplete="off" th:value="${user.username}" disabled>
                                <label for="username">USERNAME</label>
                            </div>
                            <div class=" mb-3 form-floating">
                                <input type="text" class="form-control" name="name" id="name" placeholder="name"
                                       th:value="${user.name}" autocomplete="off" disabled>
                                <label for="name">NAME</label>
                            </div>

                            <div class="password mb-3 form-floating visually-hidden">
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="Password" autocomplete="off">
                                <label for="password">PASSWORD</label>
                            </div>
                            <div class="form-floating d-flex align-items-center mb-3">
                                <input type="email" class="form-control" name="email" id="email" placeholder=" "
                                       autocomplete="off" aria-label="email" aria-describedby="button-addon2"
                                       style="width: 90%;" th:value="${user.email}" disabled>
                                <label for="email">Email Address</label>
                                <button class="btn btn-outline-secondary" name="emailBtn" type="button"
                                        id="button-addon2" style="height: 50px;" disabled>VERIFY
                                </button>
                            </div>
                        </form>
                        <div class="verify visually-hidden">
                            <p class="card-text mb-0" style="display: inline-block">VERIFICATRION</p>
                            <input type="password" class="form-control mb-3" name="verify"
                                   placeholder="VERIFY CODE">
                            <button type="submit" name="save" class="btn btn-outline-danger repassword"
                                    style="float: right;" disabled>SAVE
                            </button>
                        </div>

                    </div>
                </div>

            </div>

            <!--/*좋아요 한 스터디 글 + 책 + 내가 작성한 포트폴리오*/-->
            <div class="d-flex justify-content-center mt-5">
                <div class="mt-4 col-10" style="max-width: 600px">
                    <ul id="myActivity" class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link disabled" href="#" aria-selected="false" role="tab">나의
                                활동</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" data-bs-toggle="tab" href="#study" aria-selected="true"
                               role="tab">Study</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#book" aria-selected="false" role="tab"
                               tabindex="-1">Book</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" data-bs-toggle="tab" href="#portfolio" aria-selected="false" tabindex="-1"
                               role="tab">Portfolio</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content mt-2">
                        <!--/*좋아요 한 스터디 글*/-->
                        <div class="tab-pane fade active show" id="study" role="tabpanel">
                            <a class="text-success text-end my-1" href="/study/list" style="text-decoration-line: none">Go to Study</a>
                            <div th:each="study : ${studyList}" class="alert alert-dismissible alert-warning px-3"
                                 style="background-color: white; border-color: lightgray;">
                                <div class="go_detail">
                                    <h4 class="alert-heading" th:text="${study.user.name}"></h4>
                                    <p style="text-align: right; margin-top: -33px;">
                                        <span th:utext="'마감 : ' + ${#temporals.format(study.enddate, 'yyyy-MM-dd')}"></span>
                                        | <a class="text-info" th:href="@{'/study/detail/' + ${study.id}}" style="text-decoration-line: none">자세히</a>
                                    </p>
                                    <p class="mb-0" th:text="${'Title : ' + study.title}"></p>
                                    <p class="mb-0" th:text="${'member : ' + study.member}"></p>
                                    <p class="mb-0" th:text="${'position : ' + study.position}"></p>
                                    <p class="mb-0" th:if="${study.skillList}"> language :
                                          <span th:each="skill : ${study.skillList}">
                                            <th:block th:utext="${skill.imageUrl}"></th:block>
                                          </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/*좋아요 한 스터디 글*/-->

                        <!--/*좋아요 한 북 최대 5개만*/-->
                        <div class="tab-pane fade" id="book" role="tabpanel">
                            <a class="text-success text-end my-1" href="/user/books" style="text-decoration-line: none">Go to Book</a>
                            <div th:each="book : ${bookList}" class="book alert alert-dismissible alert-warning row px-3"
                                 th:data-title="${book.title}" th:data-isbn="${book.isbn}"
                                 style="background-color: white; border-color: lightgray;"> <!-- 포트폴리오 리스트 -->
                                <div class="col-4">
                                    <img th:src="${book.image}" alt="no image" height="100%" width="100%" style="object-fit: cover">
                                </div>
                                <div class="go_detail col-8">
                                    <h5 class="alert-heading" th:text="${book.title}"></h5>
                                    <p class="mb-0" th:text="${'저자 : ' + book.author}"></p>
                                    <p class="mb-0" th:text="${'출판사 : ' + book.publisher}"></p>
                                    <p class="mb-0" th:text="${'출판일 : ' + book.pubdate}"></p>
                                    <p class="mb-0" th:text="${'가격 : ' + book.discount}"></p>
                                    <a th:href="${book.link}" class="card-link text-success" target="_blank">To Naver Shopping Link</a>
                                    <p onclick="unlikeBook(this)" class="card-link text-danger cursor-pointer" target="_blank">좋아요 취소</p>
                                </div>
                            </div>
                        </div>
                        <!--/*좋아요 한 북*/-->

                        <div class="tab-pane fade" id="portfolio" role="tabpanel">
                            <a class="text-success text-end my-1" href="/portfolio/list" style="text-decoration-line: none">Go to Portfolio</a>
                            <div th:each="portfolio : ${pfList}" class="alert alert-dismissible alert-warning px-3"
                                 style="background-color: white; border-color: lightgray;"> <!-- 포트폴리오 리스트 -->
                                <div class="go_detail">
                                    <h4 class="alert-heading" th:text="${portfolio.user.name}"></h4>
                                    <p style="text-align: right; margin-top: -33px;">
                                        <span th:utext="'<i class=\'fa-solid fa-eye\'></i> ' + ${portfolio.increaseViewCount}"></span>
                                        | <a class="text-info" th:href="@{'/portfolio/detail/' + ${portfolio.postId}}" style="text-decoration-line: none">자세히</a>
                                    </p>
                                    <p class="mb-0" th:text="${'Title : ' + portfolio.title}"></p>
                                    <p class="mb-0" th:text="${'PR : ' + portfolio.userPr}"></p>
                                    <p class="mb-0" th:text="${'Experience : ' + portfolio.experience}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <th:block th:insert="~{common/chatbot::chatbot}"></th:block>
            <th:block th:insert="~{common/footer::footer}"></th:block>
        </div>
    </div>

    </body>
    <script th:inline="javascript">
        $(function () {
            $('button[name="save"]').click(function(){
                alert('REDIRECT TO MAINPAGE, YOUR INFO UPDATED!');
                $('form[name="sanggon"]').submit();
            });

            const userinfoElement = document.querySelector('.userinfo');


            const username = userinfoElement.getAttribute('data-username');
            const name = userinfoElement.getAttribute('data-name');
            const email = userinfoElement.getAttribute('data-email');

            $('#btnForEdit').click(function () {
                var buttonText = $(this).text().trim();
                var isEditMode = (buttonText === "EDIT");

                $(this).text(isEditMode ? 'CANCEL' : 'EDIT');

                if (isEditMode) {
                    $('input[name="username"], input[name="name"], input[name="email"]').prop('disabled', false);
                    $('.password').toggleClass('visually-hidden');
                    $('button[name="emailBtn"]').prop('disabled', false);
                } else {
                    $('input[name="username"]').val(username);
                    $('input[name="name"]').val(name);
                    $('input[name="email"]').val(email);
                    // Revert to disabled state without filling with initial values
                    $('input[name="username"], input[name="name"], input[name="email"]').prop('disabled', true);
                    $('.password').toggleClass('visually-hidden');
                    $('button[name="emailBtn"]').prop('disabled', true);
                }
            });


            $('#myActivity a').click(function () {
                var offset = $(this).offset();
                $('html').animate({scrollTop: offset.top}, 400);
            });


            $("button[name='emailBtn']").click(function () {
                var confirm_number = Math.floor(Math.random() * 1000000);
                console.log(confirm_number);
                $.ajax({
                    url: "/verify",
                    type: "post",
                    data: {
                        address: $("input[name='email']").val().trim(),
                        title: "You ARE Editing INFO IN UNDEFINED! Please Confirm Your Security Code!",
                        message: '<h1>Check Your Security Code!</h1>' +
                            '<p>Please Confirm Your Security Code:</p>' +
                            '<h2>' + confirm_number + '</h2>'
                    }
                });
                $(this).closest('.card-body').find('.verify').removeClass('visually-hidden'); // Show the verification section

                $('input[name="verify"]').blur(function () {
                    var user_input = $(this).val().trim();
                    var $saveButton = $(this).closest('.verify').find('.repassword');

                    if (user_input === confirm_number.toString()) {
                        // Enable the SAVE button
                        $saveButton.prop('disabled', false);
                    } else {
                        // If input doesn't match, show an error or handle accordingly
                        console.log('Verification code does not match.');
                        // Optionally handle the mismatch case here
                    }
                });

            });


        });

        function unlikeBook(button) {
            const bookData = $(button).closest('.book');
            var book = {
                title: bookData.data('title'),
                isbn: bookData.data('isbn')
            };
            $.ajax({
                url: "/user/bookunlikes",
                type: "POST",
                data: book,
                success: function (response) {
                    console.log();
                }
            });

            bookData.remove();
        }
    </script>
</th:block>
</html>