<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        #root {
            width: 100vw;
            height: 100vh;
            }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 가져온 template의 css-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--sidebar + chatbot + 동작 시키는 js-->
    <script th:src="@{/js/sidebar.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">
    <link th:href="@{/css/chatbot/floatingactionbutton.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/chatbot/chatGPT.css}">
</head>


<body>


    <th:block th:insert="~{common/menuTop}"></th:block>
    <th:block th:insert="~{common/sidebar}"></th:block>

    <!--오른쪽 메뉴바가 아닌 부분에 대한 내용-->
    <div id="layoutSidenav_content">

        <div id="root"></div>

        <th:block th:insert="~{common/chatbot}"></th:block>
        <th:block th:insert="~{common/footer}"></th:block>
    </div>
    </div>
</body>

<script src="https://unpkg.com/@zegocloud/zego-uikit-prebuilt/zego-uikit-prebuilt.js"></script>
<script th:inline="javascript">
window.onload = function () {
    function getUrlParams(url) {
        let urlStr = url.split('?')[1];
        const urlSearchParams = new URLSearchParams(urlStr);
        const result = Object.fromEntries(urlSearchParams.entries());
        return result;
    }


        // Generate a Token by calling a method.
        // @param 1: appID
        // @param 2: serverSecret
        // @param 3: Room ID
        // @param 4: User ID
        // @param 5: Username
    const user = [[${user}]] || null;
    const roomID = getUrlParams(window.location.href)['roomID'] || user.id + "";
    const userID = user.id + "" || null;
    const userName = user.name || null;//"userName" + userID;
    const appID = [[${appID}]];
    const serverSecret = [[${serverSecret}]];
    const kitToken = ZegoUIKitPrebuilt.generateKitTokenForTest(appID, serverSecret, roomID, userID, userName);

    
        const zp = ZegoUIKitPrebuilt.create(kitToken);
        zp.joinRoom({
            container: document.querySelector("#root"),
            sharedLinks: [{
                name: 'Share this link!!',
                url: window.location.protocol + '//' + window.location.host  + window.location.pathname + '?roomID=' + roomID,
            }],
            scenario: {
                mode: ZegoUIKitPrebuilt.VideoConference,
            },
            turnOnMicrophoneWhenJoining: false,
            turnOnCameraWhenJoining: false,
            showMyCameraToggleButton: true,
            showMyMicrophoneToggleButton: true,
            showAudioVideoSettingsButton: true,
            showScreenSharingButton: true,
            showTextChat: true,
            showUserList: true,
            maxUsers: 5,
            layout: "Auto",
            showLayoutButton: false,
        });
}
</script>
<script>
    $(document).ready(function () {
        $('.VsTVUAD89KWleD0YRVsD').click(function (){
           window.open(window.location.protocol + '//' + window.location.host  + window.location.pathname + '?roomID=' + roomID, "_blank");
        });

    });
</script>
</html>