<!--최종작성본-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 가져온 template의 css-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <!--sidebar + chatbot + 동작 시키는 js-->
    <script th:src="@{/js/sidebar.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sketchy/bootstrap.min.css">
    <link th:href="@{/css/chatbot/floatingactionbutton.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/chatbot/chatGPT.css}">
</head>
<body>
<th:block th:insert="~{common/menubar::menubar}"></th:block>

<div id="layoutSidenav">
<th:block th:insert="~{common/sidebar::sidebar}"></th:block>
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4" style="width: 70%">
            <h1 class="mt-4">Portfolio</h1> <hr>
            <div class="list box d-flex justify-content-end me-3">
<!--                <a href="#" class="card-link" style="color: deeppink; margin-top: 5px">Add my Portfolio</a>-->
                <form th:action="@{/portfolio/write}" method="get">
                    <button type="submit" class="badge bg-secondary" style="border: none; text-align: center; font-size: 15px;">
                        Add my Portfolio
                    </button>
                </form>
            </div> <br>
            <div th:each="portfolio : ${list}" class="alert alert-dismissible alert-warning" style="background-color: white; border-color: lightgray;"> <!-- 포트폴리오 리스트 -->
                <a class="go_detail" th:href="@{'/portfolio/detail/' + ${portfolio.postId}}" style="text-decoration-line: none">
                    <h4 class="alert-heading" th:text="${portfolio.user.name}"></h4>
                    <p style="text-align: right; margin-top: -33px;" th:utext="'<i class=\'fa-solid fa-eye\'></i> ' + ${portfolio.increaseViewCount} + ' | ' + ${#temporals.format(portfolio.regDate, 'yyyy-MM-dd')}"></p>
                    <p class="mb-0" th:text="${'Title : ' + portfolio.title}"></p>
                    <p class="mb-0" th:text="${'PR : ' + portfolio.userPr}"></p>
                    <p class="mb-0" th:text="${'Experience : ' + portfolio.experience}"></p>
                </a>
            </div> <!-- end of portfolio box -->


            <!-- pagination -->
            <th:block th:insert="~{community/pagination::pagination}"></th:block>
            <!-- pagination -->

        </div>


    </main>

    <th:block th:insert="~{common/chatbot::chatbot}"></th:block>
    <th:block th:insert="~{common/footer::footer}"></th:block>
</div>
</div>
</body>

</html>